<main keyEvent>

  <div class="calculator-container">
    <div class="error-msg-box" [ngClass]="{'show-msg': calculateService.showErrMsg}">
      <span>
        {{calculateService.errMsg}}
      </span>
    </div>

    <div class="calculator">
      <div class="display-container">
        <div>
          {{calculateService.upperDisplay}}
        </div>
        <div>
          {{calculateService.lowerDisplay | number: '1.0-8'}}
        </div>
      </div>

      <div class="buttons-container">
        <div class="buttons-row">
          <button class="clear-btn" data-type="clear" data-type="clear" (click)="getInput($event)">C</button>
          <button class="sym-btn" data-type="delete" (click)="getInput($event)">
            <i class='bx bx-arrow-back'></i>
          </button>
          <button class="sym-btn" data-type="percent" (click)="getInput($event)">%</button>
          <button class="sym-btn" data-type="oper" (click)="getInput($event)">/</button>
        </div>
        <div class="buttons-row">
          <button class="num-btn" data-type="num" (click)="getInput($event)">7</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">8</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">9</button>
          <button class="sym-btn" data-type="oper" (click)="getInput($event)">*</button>
        </div>
        <div class="buttons-row">
          <button class="num-btn" data-type="num" (click)="getInput($event)">4</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">5</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">6</button>
          <button class="sym-btn" data-type="oper" (click)="getInput($event)">-</button>
        </div>
        <div class="buttons-row">
          <button class="num-btn" data-type="num" (click)="getInput($event)">1</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">2</button>
          <button class="num-btn" data-type="num" (click)="getInput($event)">3</button>
          <button class="sym-btn" data-type="oper" (click)="getInput($event)">+</button>
        </div>
        <div class="buttons-row">
          <button class="sym-btn" data-type="convert" (click)="getInput($event)">+/-</button>
          <button class="num-btn" data-type="num" (click)="getInput( $event)">0</button>
          <button class="sym-btn" data-type="decimal" (click)="getInput($event)">.</button>
          <button class="sym-btn" data-type="equal" (click)="getInput($event)">=</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mode-buttons-container">
    <button class="mode-btn" [ngClass]="{'to-top': currentMode === 'light'}" (click)="setMode('light')"
      matTooltip="Light mode" matTooltipShowDelay="300" matTooltipPosition="right">
      <i class='bx bxs-sun'></i>
    </button>
    <button class="mode-btn" [ngClass]="{'to-top': currentMode === 'dark'}" (click)="setMode('dark')"
      matTooltip="Dark mode" matTooltipShowDelay="300" matTooltipPosition="right">
      <i class='bx bxs-moon'></i>
    </button>
    <button class="mode-btn" [ngClass]="{'to-top': currentMode === 'contrast'}" (click)="setMode('contrast')"
      matTooltip="Contrast mode" matTooltipShowDelay="300" matTooltipPosition="right">
      <i class='bx bxs-brightness-half'></i>
    </button>
  </div>

</main>